{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<style>
  .b{
   color:black;
   background-color:Orange;
   text-align: center;
  }
 .d{

 text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
 }
</style>

<body>

<h2 align="center">Welcome to are community</h2>
<b> <p class="b">We provide the best services and products.
  We provide many services which is not provided by any other consumer.</p></b>

<br>
<br>
<p class ="d">This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties.
  The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored</p>
</body>
</html>
{% endblock content%}
